<div id="board" >
  <% (1..9).each do |id| %>
    <% if id == 1 || id == 4 || id == 7 %>
      <div class="row">
    <% end %>

    <% if session["space#{id}"] == "user_move" %>
      <div class="space x-filled" id="<%= id %>"></div>
    <% elsif session["space#{id}"] == "comp_move" %>
      <div class="space o-filled" id="<%= id %>"></div>
    <% else %>
      <form action="/" method="post">
        <div class="space" id="<%= id %>">
          <button name="space<%= id %>" value="user_move" type="submit" ></button>
        </div>
      </form>
    <% end %>

    <% if id == 3 || id == 6 || id == 9 %>
      </div>
    <% end %>
  <% end %>
</div>

<script>
  for (var id = 1; id <= 9; id++) {
    if (id == 2 || id == 8) {
      $("#"+id).addClass("vertical-borders")
    } else if (id == 4 || id == 6){
      $("#"+id).addClass("horizontal-borders")
    } else if (id == 5) {
      $("#"+id).addClass("middle-space")
    }
  }
</script>

