<div id="board" >
  <div class="row">
    <form action="/" method="post">
      <div class="space" id="1">
        <button name="space1" value="user_move" type="submit" ></button>
      </div>
    </form>

    <form action="/" method="post">
      <div class="space vertical-borders" id="2">
        <button name="space2" value="user_move" type="submit" ></button>
      </div>
    </form>

    <form action="/" method="post">
      <div class="space" id="3">
        <button name="space3" value="user_move" type="submit" ></button>
      </div>
    </form>
  </div>

  <div class="row">

    <form action="/" method="post">
      <div class="space horizontal-borders" id="4">
        <button name="space4" value="user_move" type="submit" ></button>
      </div>
    </form>

    <form action="/" method="post">
      <div class="space middle-space" id="5">
        <button name="space5" value="user_move" type="submit" ></button>
      </div>
    </form>

    <form action="/" method="post">
      <div class="space horizontal-borders" id="6">
        <button name="space6" value="user_move" type="submit" ></button>
      </div>
    </form>
  </div>

  <div class="row">
    <form action="/" method="post">
      <div class="space" id="7">
        <button name="space7" value="user_move" type="submit" ></button>
      </div>
    </form>

    <form action="/" method="post">
      <div class="space vertical-borders" id="8">
        <button name="space8" value="user_move" type="submit" ></button>
      </div>
    </form>

    <form action="/" method="post">
      <div class="space" id="9">
        <button name="space9" value="user_move" type="submit" ></button>
      </div>
    </form>

  </div>
</div>
