<!DOCTYPE html>
<html>
  <head>
    <title>Tic-Tac-Toe</title>
    <link href="/application.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
